asgiref==3.8.1
beautifulsoup4==4.13.3
css==0.1
dj-database-url==2.3.0
Django==4.2.20
django-bootstrap4==25.1
django-heroku==0.3.1
gunicorn==23.0.0
html==1.13
packaging==24.2
pi==0.1.2
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dotenv==1.1.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.9.0
